*
{
    margin: 0;
    padding: 0;
}

#sossur{
    z-index: 100;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
